<div class="example-container">

    <mat-toolbar role="heading">
        <mat-icon color="primary">notes <span class="mat-display-1">Your Notes</span></mat-icon>
    </mat-toolbar>

    <app-loading-spinner class="spinner-center" *ngIf="isLoading"></app-loading-spinner>

    <div *ngIf="!isLoading && notes.length===0" style="color: #ff4081;" class="mat-display-1">
        You don't have any notes!
    </div>

    <mat-accordion>
        <app-note-item *ngFor="let note of notes;let i=index" [note]="note" [noteIndex]="i"></app-note-item>
    </mat-accordion>

</div>