<mat-dialog-content>
    <mat-error *ngIf="data.error">{{data.message}}</mat-error>
    <div style="color: green;" mat-subheading-2 *ngIf="!data.error">{{data.message}}</div>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="center" mat-mini-fab color="warn" mat-dialog-close *ngIf="data.error">
        <mat-icon>close</mat-icon>
    </button>
    <button class="center" mat-mini-fab color="primary" mat-dialog-close *ngIf="!data.error">
        <mat-icon>check</mat-icon>
    </button>
</mat-dialog-actions>