<br>
<mat-expansion-panel (closed)="isEditMode=false">
    <mat-expansion-panel-header>
        <mat-panel-title color="primary">
            <strong *ngIf="!isEditMode">{{note.title}}</strong>
            <strong *ngIf="isEditMode">Update Your Note</strong>
        </mat-panel-title>
        <mat-panel-description *ngIf="!isEditMode"><em>Edited: {{note.lastEdited | date:'dd/MM/yy, h:mm a'}}</em>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <div *ngIf="!isEditMode">{{note.description}}</div>
        <form *ngIf="isEditMode" #updateNoteRef="ngForm" novalidate>
            <div>
                <mat-form-field floatLabel="auto" color="accent" appearance="outline">
                    <mat-label>New Title</mat-label>
                    <input matInput name="title" ngModel [(ngModel)]="note.title" required #titleRef="ngModel">
                    <mat-hint align="end">Update your title</mat-hint>
                </mat-form-field>
                <mat-error *ngIf="titleRef.invalid && (titleRef.touched||titleRef.dirty) && 
                titleRef.errors.required">
                    A title is required
                </mat-error>
            </div>

            <div>
                <mat-form-field floatLabel="auto" color="accent" appearance="outline">
                    <mat-label>New Description</mat-label>
                    <textarea matInput name="description" [(ngModel)]="note.description" ngModel required
                        #descriptionRef="ngModel"></textarea>
                    <mat-hint align="end">Update your description</mat-hint>
                </mat-form-field>
                <mat-error *ngIf="descriptionRef.invalid && (descriptionRef.touched||descriptionRef.dirty) && 
                descriptionRef.errors.required">
                    A description is required
                </mat-error>
            </div>
        </form>
    </ng-template>
    <mat-action-row>
        <button mat-icon-button color="primary" (click)="onEdit()" *ngIf="!isEditMode && !isDeleting">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="onSave()" *ngIf="isEditMode && !isSaving">
            <mat-icon>save</mat-icon>
        </button>
        <button color="isSaving?accent:warn" mat-icon-button [disabled]="isSaving||isDeleting"
            *ngIf="isSaving||isDeleting">
            <mat-icon>
                <mat-spinner color="accent" diameter="20"></mat-spinner>
            </mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete()" *ngIf="!isEditMode && !isDeleting">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="primary" *ngIf="isEditMode" (click)="onCancel()">
            <mat-icon>cancel</mat-icon>
        </button>
    </mat-action-row>
</mat-expansion-panel>