.example-container {
    display: flex;
    flex-direction: column;
    margin: 1% 1% 1% 1%;
}

.example-container>* {
    width: 100%;
}

button {
    margin-right: 10px;
}

mat-form-field {
    width: 100%;
}